body{
    background-color: rgba(0, 10, 10,0.5); 
}
header > h1{
    text-align: center;
    font-weight: bold;
    font-family:fantasy;
    margin-bottom: 50px;
}
header > h1:hover{
    display: inline;
    border-bottom: 5px solid green ;
}
section > ul > li > a{
    display: block;
    font-size: 20px;
    text-decoration: none;
    font-family: verdana;
    
    color: lightblue;
}
section > ul > li{
    list-style-type: none;
    text-align: center;
    font-size: 16px;
    font-family: verdana;
    margin-top: 20px;
}